language: php
php:
  - 7.0
  - 7.1
  - 7.2
  - nightly
install: composer install
script: ./vendor/bin/phpunit
after_success: ./vendor/bin/php-coveralls -v
matrix:
  fast_finish: true
  allow_failures:
     - php: nightly
