language: php
php:
  - 5.6
  - 7.0
  - 7.1
  - 7.2
  - nightly
  - hhvm
install: composer install
script: ./vendor/bin/phpunit --coverage-clover clover.xml
after_success: ./vendor/bin/coveralls -v
matrix:
  fast_finish: true
  allow_failures:
     - php: nightly
